<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Demo Bundle{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/madesstapidebug/css/prettify.css') }}"/>

    {% block javascripts %}
        <script src="{{ asset('bundles/nelmioapidoc/js/all.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/madesstapidebug/js/prettify.js') }}" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#content').html(
                prettyPrint(
                        JSON.parse(
                                $('#content').html()
                        ), { maxArray: 'infinity', // Set max for array display (default: infinity)
                            expanded: true, // Expanded view (boolean) (default: true),
                            maxDepth: 15 // Max member depth (when displaying objects) (default: 3)
                        }
                )
        );
    });
</script>
<div id="symfony-wrapper" style="width: auto; padding: 10px;">

        {% block content %}
        {% endblock %}

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="symfony-content">{{ code|raw }}</div>
    {% endif %}
</div>
</body>
</html>
